name: Pull Request

on: pull_request

jobs:
  check:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright/python:v1.56.0-noble
      options: --user 1001

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "npm"

      - run: npm ci
      - run: npm run build
      - run: npm run check
      - run: CI=true npm run test
