name: Pull Request

on: pull_request

jobs:
  check:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.56.1-noble

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "npm"

      - name: Install build dependencies
        run: |
          apt-get update
          apt-get install -y build-essential python3

      - run: npm ci
      - run: npm run build
      - run: npm run check
      - run: CI=true npm run test
